.signup {
  height: 500px;
  width: 100%;
  padding-bottom: 10%;
  position: relative;
}

.signup form {
  position: absolute;
  top: 20%;
  left: 40%;
  text-align: center;
}

.signup form input {
  padding: 10%;
  margin: 5% 0;
}

.signup_alert {
  position: relative;
  top: 130%;
  right: -31%;
  width: 500px;
  height: auto;
  text-align: center;
}
