.signup {
  min-height: 500px;
  width: 100%;
  padding-bottom: 10%;
  /* position: relative; */
}

.signup form {
  position: absolute;
  top: 200px;
  left: 40%;
  text-align: center;
}

.signup form input {
  padding: 20px;
  margin: 10px 0;
}

.signup_alert {
  position: relative;
  top: 130%;
  right: -31%;
  width: 500px;
  height: auto;
  text-align: center;
}
