.content-holder {
  height: 300px;
  width: 120px;
  padding: 10px;
  margin-bottom: 30px;
  display: inline-block;
  vertical-align: top;
}

.title-text p {
  font-size: 15px;
  margin-bottom: 0;
  margin-top: 5px;
  height: 50px;
  text-align: center;
  color: "black";
}
.author-text {

  margin-top: 0px;

  font-size: 15px;
  text-align: center;
}

.del {
  position: absolute;
  bottom: 8px;
  right: 8px;
}

.image-container {
  position: relative;
  text-align: center;
  color: white;
  width: 120px;
  height: 174px;
  margin-bottom: 0px;
  padding-bottom: 0;
}

.book-image {
  display: block;
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 0.5s ease;
  background-color: black;
}

.image-container:hover .overlay {
  opacity: 0.7;
}

.text {
  color: white;
  font-size: 12px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}
.delete-button {
  position: absolute;
  font-size: 20px;

  top: 90%;
  left: 90%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}
