.cardEntry {
  background-color: white;
  display: inline-block;
  height: 70px;
  text-align: center;
  width: 140px;
  padding: 0;
  border-right: solid 1px;
  border-color: #d3d3d3;
}

.card-Content {
  color: black;
  fontsize: 14px;
}
