.readCuration {
  padding-top: 150px;
}

.readCuration_header {
  padding-left: 300px;
  padding-right: 300px;
}

.readCuration_contents {
  padding-left: 300px;
  padding-right: 300px;
}

.readCuration_bookslist {
  display: table;
  width: 100%;
}

.readcuration_bookentry {
  margin-right: 80px;
  position: relative;
}

.heart {
  color: #f34e4ee7;
  fill: #f34e4ee7;
}

.heart path {
  fill: #f34e4ee7;
  color: #f34e4ee7;
}
