.signin {
  height: 500px;
  width: 100%;
  padding-bottom: 10%;
}

.signin form {
  position: absolute;
  top: 22%;
  left: 40%;
  text-align: center;
}

.signin form input {
  padding: 10%;
  margin: 5% 0;
}
