@import url('https://fonts.googleapis.com/css?family=Nanum+Myeongjo:400,700,800|Noto+Sans+KR:300,400&display=swap');


.review-area {
  font-family: 'Gothic A1', sans-serif;
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  letter-spacing: 0.8px;
  word-spacing: 1px;
  line-height: 2;
}
.title-area {
  width: 54%;
  padding: 200px 500px 100px;
  background-color: #eeeeee;
  color:  #212121;
  font-family: 'Nanum Myeongjo', serif;
}
.title-area h1 {
  font-size: 36px;
  font-weight: 800;
  color:  #3f3f3f;
  font-family: 'Gothic A1', sans-serif;
}
.review-likes {
  margin-left: auto;
  text-align: right;
}
.post-area {
  width: 54%;
  text-align: left; 
  padding: 50px;
  color: #0c0c0c;
  font-size: 16px;
  font-family: 'Gothic A1', sans-serif;
  font-weight: 200;
  border-bottom: 1px solid rgb(201, 201, 201);
}
.book-rating {
  margin-right: auto;
  text-align: left;
}
.post-area p {
  padding: 0;
  margin: 0;
}
