.user-area {
  text-align: center;
  display: flex;
  widows: 100%;
  flex-direction: column;
  align-items: center;
  padding: 50px;
}

.user-info{
  width: 54%;
  text-align: left;
}

.user-info img {
  float: left;
  padding: 10px;
}