.History-Modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 1;
}
.History-Modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 500px;
  height: 500px;
  /* border-radius: 10px; */
  background-color: white;
  overflow: hidden;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
  padding: 20px;
  & > * {
    &:first-child {
      margin-top: 5px;
    }
    margin-left: 20px;
    margin-right: 20px;
  }
  // p.title {
  //   width: 80%;
  //   margin-left: 16px;
  //   font-size: 16pt;
  //   font-weight: bold;
  //   color: rgb(230, 5, 5);
  //   border-bottom: 1px solid #bebebe;
  //   padding: 10px;
  // }
  h5 {
    padding: 10px;
  }
  // .search-box {
  //   width: 700px;
  //   border: none;
  //   outline: none;
  //   font-size: 20px;
  //   color: #333;
  //   padding: 10px 10px 0 10px;
  // }
  .content {
    overflow-y: auto;
    height: 900px;
  }
}
//   .content .book-select {
//     float: left;
//     padding: px;
//     margin-bottom: 20px;
//     width: 800px;
//     height: 180px;
//     cursor: pointer;
//   }
//   .content .book-select img {
//     box-shadow: none;
//     &:hover {
//       width: 80px;
//     }
//   }
//   .content .book-select div {
//     margin-top: 1px;
//     line-height: 1;
//     font-size: 14px;
//     text-align: left;
//   }
//   .Review-button-wrap {
//     margin: 10px;
//     margin-top: 8px;
//     button {
//       width: 100%;
//       padding: 12px 0;
//       border-radius: 10px;
//       background-color: #ad7cef;
//       font-size: 13pt;
//       color: white;
//       border: 0;
//       cursor: pointer;
//       &:hover {
//         background-color: #7f49c8;
//       }
//       &:active {
//         background-color: #7e49c8;
//       }
//     }
//   }
// }

// .history_grid {
//   display: grid;
//   grid-template-columns: repeat(5, 1fr);
//   grid-template-rows: 0.3fr repeat(4, 1fr);
//   grid-column-gap: 0px;
//   grid-row-gap: 0px;
// }

// .history_modal_close {
//   grid-area: 1 / 1 / 2 / 6;
// }

// .history_modal_info {
//   grid-area: 2 / 1 / 6 / 3;
//   padding-right: 50px;
// }

// .history_modal_history {
//   grid-area: 2 / 3 / 6 / 6;
// }

// // .history_crop {
// //   text-align: center;
// // }

// .history_cropped {
//   margin-top: 10%;
//   object-fit: cover;
//   border-radius: 50%;
//   height: 100px;
//   width: 50px;
// }
