.book-info {
  text-align: center;
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  padding: 50px 0px;
  letter-spacing: 0.8px;
  word-spacing: 1px;
  line-height: 2;
}

.book-detail {
  width: 54%;
  text-align: left;
  padding: 30px 10px;
}

.book-detail div {
  padding-bottom: 20px; 
  font-weight: 300;
  color: rgb(97, 97, 97);
}

.book-info-area {
  padding: 0 40px 0 150px; 
  line-height: 1.6;
}

.book-img {
  width : 150px;
  height: 200px;
  float: left;
  padding: 0px;
}

.book-title {
  text-align: left;
}

.book-title b {
  padding: 0;
}

@media ( max-width: 768px ){
  .book-detail div {
    padding-top: 0;

  }
  .book-detail {
    width: 80%;
    padding: 0;
  }
  .book-title{
    padding: 0;
    margin: 0;
  }
  .book-info-area{
    display: inline-block;
    padding: 0px 0 0 0;
  }
}