.recoReview-area {
  display : flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.recoReview-area h4 {
  border-top : 1px solid rgb(201, 201, 201);
  padding: 50px 0 30px 0;
  width : 60%; 
}
.recoReview-list {
  width: 60%;
}

@media ( max-width: 768px ){
  .recoReview-area{
    display: none;
  }
}
