.recoReview-card {
  margin: 0.5%;
  padding: 3%;
  float: left;
  width: 17.6%;
  height : 200px;
  border : 1px solid #ddd;
  margin-bottom: 80px;
}

.recoReview-img {
  padding: 15px;
}

.review_review_list_review {
  flex: 1 1 auto;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  margin-right: 10px;
  width: 450px;
}