.main {
  padding-top: 3%;
  padding-left: 15%;
  padding-right: 15%;
  background: linear-gradient(180deg, #fafaf4 73%, #ffffff 27%);
}
/* 
.parallax {
  opacity: 0.5;
  filter: alpha(opacity=50);
} */

.section :hover {
  text-decoration: none;
}

.section_wrapper {
  width: 100%;
}

.section {
  display: inline-block;
}

.section h2 {
  font-family: "Gothic A1", sans-serif;
  font-size: 1.5em;
}

.main_recocollection_div {
  text-align: center;
}

.main_recocollection_title {
  font-family: "Nanum Myeongjo", serif;
  display: inline-block;
}

.main_review_entry_content {
  color: rgb(87, 85, 85);
}

.main_review_entry_author {
  color: "gray";
}

.main_review_list_start {
  margin-top: 40px;
}

.main_review_list {
  display: flex;
  flex-direction: row;
}

.main_review_list_review {
  flex: 1 1 auto;
}

/* .crop {
  width: 80px;
  height: 80px;
  position: relative;
  overflow: hidden;
  border-radius: 50%;
} */

.crop {
  text-align: center;
}

.cropped {
  margin-top: 10%;
  object-fit: cover;
  border-radius: 50%;
  height: 70px;
  width: 70px;
}
