.main_slider {
  margin-bottom: 0px;
  height: 850px;
  width: 100%;
}

.main_slider_image {
  float: left;
}

.main_slider h3 {
  font-size: 60px;
  font-family: "Song Myung", serif;
}

.main_slider {
  background-color: rgb(247, 246, 246);
}

.main_slider_paper {
  display: inline;
}

.uk-card-media-left uk-cover-container {
  margin-right: 0px;
}
