.find-password {
  height: 500px;
  width: 100%;
}

.find-password form {
  position: absolute;
  top: 28%;
  left: 40%;
  text-align: center;
}

.find-password form input {
  padding: 10%;
  margin: 5% 0;
}
