.search-i {
  position: fixed;
  right: 36px;
  top: 30px;
  height: 20px;
  z-index: 999;
  margin: 0;
}
.search-icon{
  height: 24px;
  margin: 0;
}
.search-form {
  position: fixed;
  width: 500px;
  margin-top: -50px;
  padding: 10px 10px 10px 20px;
  right: 36px;
}
.search-form-input {
  background-color: #fff;
}
.search-area {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 500px;
}
.search-select {
  width: 54%;
  padding: 0px 0px 10px 0px;
}

.search-book{
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  letter-spacing: 0.8px;
  word-spacing: 1px;
  line-height: 2;

}
.uk-margin {
  width: 100px;
  margin-top: 60px;
  margin-bottom: 0px;
}
.search-input{
  width: 60%;
  padding: 120px 0px 10px 0px;
  color:  #646464;
  font-family: 'Nanum Myeongjo', serif;
  border-bottom: 1px solid #646464;
}

.search-input input{
  width: 100%;
  height: 40px;
  font-size: 28px;
  border: none;
  transition: 0.5s;
  outline: none;
  margin-top: 0px;
  padding-left: 30px; 
  color: #414040;
}

.search-result {
  width: 58%;
  padding: 60px;
}

.search-result-title {
  text-align: left;
  font-size: 20px;
}

.book-select {  
  float: left;
  padding: 10px;
  margin-bottom: 20px;
  width: 110px;
  height: 180px;
  cursor: pointer;
  
}

.book-select img {
  box-shadow: 2px 2px 4px 1px rgb(207, 207, 207);
  -webkit-transition:width 0.3s;
  transition:width 0.3s;
}

.book-select img:hover {
  width: 86px;
}

.book-select div {
  margin-top: 16px;
  line-height: 1;
  font-size: 14px;
  text-align: center;
  color: #414040;
}

.review-detail {
  text-align: left;
  padding: 30px 0px;
  border-bottom: 1px solid rgb(184, 184, 184);
}

.uk-position-z-index {
  z-index: 999;
}