.editcuration {
  padding-top: 150px;
}

.editcuration_header {
  padding-left: 20%;
  padding-right: 10%;
}

.editcuration_contents {
  padding-left: 20%;
  padding-right: 20%;
}

.editcuration_books {
  margin-right: 15%;
  display: table;
  width: 100%;
}

.editcuration_books_btn {
  vertical-align: middle;
}

.editcuration_books_bookentry {
  margin-right: 80px;
  position: relative;
}

.image {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: 0.3s ease;
  backface-visibility: hidden;
}

.middle {
  transition: 0.3s ease;
  opacity: 0;
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  align-items: center;
}

.middle_review {
  transition: 0.3s ease;
  opacity: 0;
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  align-items: center;
}

.none .image:hover {
  opacity: 0.3;
}

.none:hover .middle {
  opacity: 1;
}

.opacity:hover .middle {
  display: none;
}

.text {
  color: rgb(114, 113, 113);
  font-size: 16px;
}

.opacity {
  opacity: 0.2;
}

input:focus {
  outline: none;
}

.editcuration_reviewentry_cropped {
  margin-top: 20px;
  object-fit: cover;
  border-radius: 50%;
  height: 50px;
  width: 50px;
}
