.Review-Modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 1;
}
.Review-Modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 800px;
  height: 580px;
  background-color: white;
  overflow: hidden;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  
  .content {
    width: 790px;
    min-height: 380px;
    max-height: 380px;
    margin-top: 16px;
    padding: 10px;
    font-size: 12pt;
    color: #999;
    overflow-y: auto;
  }
  .content .book-select {
    float: left;
    padding: px;
    margin-bottom: 20px;
    width: 680px;
    height: 180px;
    cursor: pointer;
  }
  .content .book-select img {
    box-shadow: none;
  }
  .content .book-select div {
    margin-top: 1px;
    line-height: 1;
    font-size: 14px;
    text-align: left;
  }
  .Review-button-wrap {
    margin-top: 10px;
    padding: 0px;
  }
  .close-button {
    margin-left: 96%;
  }
}
